html:has(dialog[open]) {
    overflow: hidden;
}
body {
    margin: 8px;
}
/* prevent table from wrapping when contents are too long */
table {
    min-width: max-content;
}
/* prevent textboxes from soft-wrapping */
textarea {
    white-space: pre;
}
/* make text boxes look like textareas */
input[type=text] {
    font-size: medium;
    font-family: monospace;
}

th {
    padding: 0;
}
td {
    display: inline;
}
textarea {
    resize: none;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.left.right {
    text-align: center;
}

dialog h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
#load-dialog #error {
    display: block;
}
#load-dialog textarea {
    width: 80vw;
    height: 75vh;
}
#load-dialog form {
    display: inline;
}

#item-context-menu br {
    display: block;
    margin-top: 8px;
}
#item-context-menu button {
    display: block;
}

.table-container {
    overflow-x: scroll;
    scrollbar-width: thin;
}
th input[type=text] {
    font-weight: bold;
}

#output {
    width: calc(100% - 8px);
}
